[Global]
; Command the bot should listen for
BOT_COMMAND_STR = !BBH
; Disable to stop the bot from posting comments
ENABLE_COMMENTS = True
; Account the bot will post from
ACCOUNT_NAME = bbhbot
; Posting key for the account
ACCOUNT_POSTING_KEY = 
; Active key for Hive-Engine transfers
ACCOUNT_ACTIVE_KEY = 
; Hive API node to use for read/write ops
HIVE_API_NODE = https://hived.emre.sh

[HiveEngine]
; Name of Hive-Engine token for gifting
TOKEN_NAME = BBH
; Disable to stop the bot from making token transfers
ENABLE_TRANSFERS = True
; Amount the bot should give when invoked
TOKEN_GIFT_AMOUNT = 1
; List of users to block from sending and receiving gifts
; Text for HE transfer memos
TRANSFER_MEMO = Here is a $BBH tip for you, keep up the good work.
GIFT_BLOCK_LIST = 

[AccessLevel1]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 1000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 1
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 1


[AccessLevel2]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 5000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 5
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 2

[AccessLevel3]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 20000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 20
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 5

[AccessLevel4]
; Minimum balance required for invoking the bot
MIN_TOKEN_BALANCE = 50000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 50
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 8
