[Unit]
Description=bbhbot
After=syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/
Environment="PATH=/usr/local/bin/"
ExecStart=/usr/local/bin/run-bbhbot.sh
SyslogIdentifier=bbh
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
