<center><p>@{{target_account}}! <b>Your Content Is Awesome</b> so I just sent 1 <b>$BBH</b> (Bitcoin Backed Hive) to your account on behalf of @{{author_account}}. <sub>({{today_gift_count}}/{{max_daily_gifts}})</sub></p>
<p><img src="https://i.ibb.co/wpjTdpp/bbh.png"></p></center>